<% provide(:title, @accomodation.location) %>
<h1>Accomodation Details</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@accomodation , :html => {:class => "form-horizontal"})  do |f| %>
    <%= render 'shared/error_messages', object: f.object%>

  <div class="form-group">
      <%= f.label :roomtype, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
       <p class="form-control-static"><%= @accomodation.roomtype %> </p>
     </div>
   </div>

    <div class="form-group">
      <%= f.label :location, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static"><%= @accomodation.location %> </p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static">$ <%= @accomodation.price %> / week</p>
      </div>
    </div>

  <div class="form-group">
      <%= f.label :bond, :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static">$ <%= @accomodation.bond %> </p>
      </div>
    </div>
    
<div class="form-group">
  <%= f.label :available, :class =>"col-sm-2 control-label" %>
  <div class='input-group col-sm-5' id='datetimepicker5'>
   <p class="form-control-static"><%= @accomodation.available.strftime("%d/%m/%Y") %></p>
 </div>
</div>

<div class="form-group">
  <%= f.label :smoking, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6"> 
    <p class="form-control-static">
      <% if @accomodation.smoking %>
      Yes
      <% else %>
      No
      <% end %> 
    </p>
  </div>
</div>

   <div class="form-group">
    <%= f.label :description, :class =>"col-sm-2 control-label" %>
    <div class="col-sm-6">
     <p class="form-control-static"><%= simple_format @accomodation.description %> </p>
   </div>
 </div>
 <div class="form-group">
      <%= f.label :contact_name,"Contact name", :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static"><%= @accomodation.contact_name %> </p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contact_phone,"Contact number", :class =>"col-sm-2 control-label" %>
      <div class="col-sm-6">
        <p class="form-control-static"><%= @accomodation.contact_phone %></p>
      </div>
    </div>


<div class="form-group">
  <div class="col-sm-offset-2 col-sm-2">
    <% if current_user?(@accomodation.user) %>
    <%= link_to "Edit", edit_accomodation_path(@accomodation),:class=>"btn btn-primary"%>
    <%= link_to "Delete", @accomodation, method: :delete,
    data: { confirm: "Are you sure you want to remove this accomodation from the list?" },
    title: "This cannot be undone", :class=>"btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :contact_phone,"Photos", :class =>"col-sm-2 control-label" %>
  <div class="col-offset-sm-2 col-sm-6">
    <p><img src="<%= @accomodation.Imagelink1 %>" class="img-accomodation-show"></p>
    <p><img src="<%= @accomodation.Imagelink2 %>" class="img-accomodation-show"></p>
    <p><img src="<%= @accomodation.Imagelink3 %>" class="img-accomodation-show"></p>
  </div>
</div>

<div class="form-group">
  <%= f.label :share, :class =>"col-sm-2 control-label" %>
  <div class="col-sm-6">
    <div class="social-likes" data-counters="no">
      <div class="facebook" title="Share link on Facebook">Facebook</div>
      <div class="twitter" data-via="ConnectYouHere" data-related="onnectYouHere provides various information such as job and accomodation for international student and worker in Australia." title="Share link on Twitter">Twitter</div>
      <div class="plusone" title="Share link on Google+">Google+</div>
    </div>
  </div>
</div>

<% end %>
</div>
</div>
