<div class="row">

	<div class="alert alert-info visible-lg">ConnectYouHere provides various information such as job and accomodation for international student and worker in Australia.</div>
  <div class="col-md-offset-3 col-md-3 margintop10">
      <%=link_to image_tag("JobsButton.png", class:"homebutton img-responsive"), jobs_path%>
  </div>
  <div class="col-md-3 margintop10">
      <%=link_to image_tag("AccButton.png", class:"homebutton img-responsive"), accomodations_path %>
  </div>

</div>
<h2> Latest Jobs</h2>

<div class="row">
  <div class="col-md-12">
      <%= render @jobs %>
      <%= link_to "More jobs >", jobs_path ,class:"btn btn-info btn-xs pull-right"%>
  </div>
</div>

<h2> Latest Accomodation</h2>

<div class="row">
  <div class="col-md-12">
      <%= render @accomodations %>
      <%= link_to "More accomodation >", accomodations_path ,class:"btn btn-info btn-xs pull-right"%>
  </div>


