 <div class="col-md-3 no-padding">
 	<h4 class="job-category"><%= job.classification %></h4>
 	<a href="<%= job_path(job) %>">
 		<button class="job-button full-color">
 		<% if job.category == "Full-time" %>
 		<img alt="separator" class="separator" src="/assets/FTBrown.png">
 		<% else %>
 		<img alt="separator" class="separator" src="/assets/PTBrown.png">
 		<% end %>
 		<br/><br/>
		<h4><strong><%= job.role %></strong></h4>
 		
 		<p><span class="glyphicon glyphicon-briefcase"></span> <%= job.employer %></p>
 		<p class="bottom-left"><span class="glyphicon glyphicon-map-marker"></span> <%= job.location %></p>
 		<p class="bottom-right"><em><%= time_ago_in_words(job.created_at) %></em> ago</p>
 		</button>
 	</a>
</div>


