
<div class="row padt-10">
	<%= link_to "Post a job", new_job_path, :class =>"btn btn-primary pull-right" %>
	<div class="col-md-12">
		<h1>Available Jobs</h1>
		<h3>Classification:</h3>
		<%= form_tag({controller: "jobs", action: "index"}, method: "get", class: "form-horizontal") do%>

		<div class="btn-group hidden-xs" data-toggle="buttons">
  		<% @classifications.each do |classification| %>
		<label class="btn btn-primary">
		<%= check_box_tag "classification_ids[]", classification.id, @selected_classification.include?(classification.id) %>
			<%= classification.name %>
  		</label>
		<% end %>
		</div>
		<div class="visible-xs">
			<%= collection_select :classification_ids, "", Classification.all, :id, :name, :prompt => "Select a classification" %>
		</div>
		<br/><br/>
			<div>
		     <input type="submit" value"filter" class=" col-sm-1 btn btn-success">
		 </div>	
		 <br/>

		 <% end %>
		<br/>
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
		<br/>
		<%= render @jobs %>
	</div>
</div>
<div class="row well">
  <div class="col-md-5">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- panjang -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3918400380111417"
     data-ad-slot="6769752683"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="col-md-offset-2 col-md-5">
<!-- panjang -->
<ins class="adsbygoogle"
     style="display:inline-block;width:550px;height:90px"
     data-ad-client="ca-pub-3918400380111417"
     data-ad-slot="6769752683"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>