<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="keywords" content="<%= meta_keywords %>" /> 
<meta name="description" content="<%= meta_description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
  <meta property="og:title" content="<%= yield(:title).present? ? yield(:title) : 'ConnectYouHere' %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="https://connectuhere.herokuapp.com/assets/Logo-02bdec14a7475223ece009d1e1b79066.png" />
  <meta property="og:site_name" content="ConnectYouHere" />
  <meta property="og:description" content="ConnectYouHere provides various information such as job and accomodation for international student and worker in Australia." />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=439517296145888";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>